@charset "utf-8";



html{
    height:200%;
}


h1{
    font-size: 17px;
    text-align: center;
}

h2{
    font-size: 6px;
    text-align: center;
}


h3{
    font-size: 20px;
    text-align: center;
}

h4{
    font-size: 22px;
    text-align: left;
}

h5{
    font-size: 12px;
    text-align: left;
}

.header{
    height:100px;
    wight:100%;
    font-family: "";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 calc(50% - 50vw) 30px;
    font-size: 17%;
    text-align: center;
}

.header::before,
.header::after {
  content: "";
  width: 42%;
  height: 8px;
  background-image: repeating-linear-gradient(-45deg, #777 0, #777 1px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%);
  background-size: 8px 8px;
} 

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h3::before,
  h3::after {
    content: "";
    width: 10px;
    height: 10px;
  }
  
  h3::before {
    margin: -30px 20px 0 0;
    border-top: 10px solid #ff0000;
    border-left: 10px solid rgb(255, 94, 0)
  }
  
  h3::after {
    margin: 0 0 -30px 20px;
    border-right: 10px solid rgb(255, 94, 0);
    border-bottom: 10px solid  #ff0000;
  }

  h4 {
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    background: linear-gradient(transparent 60%, #16b5dd 60%);
    font-weight: bold;

}

h5 {
    width: 420px;
    padding: 0.5rem 0;
    margin-bottom: 0.2rem;
    border-bottom: 6px double #000000;
}


/*ボタン設定*/

.btn-container {
  text-align: center;
}

button {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 64%;
  left: 5%;


  cursor: pointer;
}

#btn4 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 64%;
  left: 27%;


  cursor: pointer;
}

#btn5 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 64%;
  left: 55%;


  cursor: pointer;
}

#btn6 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 64%;
  left: 78%;


  cursor: pointer;
}

#btn7 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 104%;
  left: 5%;


  cursor: pointer;
}

#btn8 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 104%;
  left: 27%;


  cursor: pointer;
}

#btn9 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 104%;
  left: 55%;


  cursor: pointer;
}

#btn10 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 104%;
  left: 78%;


  cursor: pointer;
}

#btn11 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 143%;
  left: 5%;


  cursor: pointer;
}

#btn12 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 143%;
  left: 27%;


  cursor: pointer;
}

#btn13 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 143%;
  left: 55%;


  cursor: pointer;
}

#btn14 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 143%;
  left: 78%;


  cursor: pointer;
}

#btn15 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 182%;
  left: 5%;


  cursor: pointer;
}

#btn16 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 182%;
  left: 27%;


  cursor: pointer;
}

#btn17 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 182%;
  left: 55%;


  cursor: pointer;
}

#btn18 {
  width: 17%;
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: 182%;
  left: 78%;


  cursor: pointer;
}

button:hover {
 opacity: 0.7;
}

.hidden {
  display: none;
}

#mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask2 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal2 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask3 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal3 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask4 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal4 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask5 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal5 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask6 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal6 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask7 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal7 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask8 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal8 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask9 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal9 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask10 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal10 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask11 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal11 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask12 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal12 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask13 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal13 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask14 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal14 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask15 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal15 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#mask16 {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal16 {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}
/*ボタン設定終了*/
